* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  height: 100%;
}

input {
  outline: none;
  border: none;
  background: none;
}

form.greeting {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  form.greeting {
    width: 500px !important;
  }
}
form.greeting input {
  border: 1px solid #666;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 10px 30px;
  font-size: 16px;
}
form.greeting input.login-btn {
  background-color: #3d586b;
  color: #fff;
  cursor: pointer;
}

p.greeting {
  color: #f00;
  font-size: 22px;
  font-family: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

body {
  padding: 15px;
  background: linear-gradient(to right, #ddd, #344e60);
}
@media (min-width: 768px) {
  body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .container {
    justify-content: space-between;
  }
  body .container .form-field {
    width: 50% !important;
    order: 1 !important;
  }
  body .container .form-field .field-parent input {
    text-align: left !important;
  }
  body .container .form-field .field-parent label {
    text-align: left !important;
  }
  body .container .more-info {
    height: inherit !important;
    width: 50% !important;
    order: 2 !important;
  }
}
body .container {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 5px 5px 10px #3d586b, -5px -5px 10px #ddd;
}
body .container .form-field {
  width: 100%;
  order: 2;
  padding: 20px;
  background: #fff;
}
body .container .form-field h1 {
  font-size: 24px;
  font-weight: 600;
  color: #3d586b;
  margin-bottom: 30px;
  text-align: center;
}
body .container .form-field .field-parent {
  width: 100%;
  margin-bottom: 15px;
}
body .container .form-field .field-parent label {
  text-align: center;
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #293d4b;
}
body .container .form-field .field-parent input {
  text-align: center;
  width: 100%;
  display: block;
  box-shadow: 1px 1px #ddd, -1px -1px #ddd;
  padding: 6px 15px;
}
body .container .form-field .sign-up {
  margin-bottom: 15px;
}
body .container .form-field .sign-up input {
  width: 100%;
  text-align: center;
  padding: 8px 10px;
  color: #fff;
  background-color: #344e60;
  border-radius: 4px;
  cursor: pointer;
}
body .container .form-field .log-in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body .container .form-field .log-in label {
  font-size: 12px;
  color: #293d4b;
  font-weight: 500;
}
body .container .form-field .log-in input {
  font-size: 16px;
  margin-left: 8px;
  color: #3d586b;
  font-weight: 600;
  cursor: pointer;
  line-height: 16px;
}
body .container .more-info {
  height: 200px;
  width: 100%;
  order: 1;
  padding: 20px;
  background-color: #344e60;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body .container .more-info nav {
  position: absolute;
  top: 20px;
  right: 20px;
}
body .container .more-info nav ul {
  display: flex;
  align-items: center;
}
body .container .more-info nav ul li:last-of-type {
  margin-left: 10px;
}
body .container .more-info nav ul li a {
  color: #ddd;
  font-size: 14px;
  font-weight: 600;
}
body .container .more-info .desc p {
  font-size: 18px;
  font-weight: 600;
  color: #ddd;
}
body .container .more-info .desc span {
  font-size: 12px;
  color: #ddd;
  font-weight: 400;
  text-transform: capitalize;
}

/*# sourceMappingURL=style.css.map */
